
    <%- include("partials/header") %>

       <section id="home-page">
        <% for (let post of posts) { %>
           <h2><%= post.title %></h2>
           <p><%= post.post.slice(0,140) + "...." %>
                <a href="/posts/<%= post.title%>">Read More</a>
            </p>
        <% } %>
       </section>

     

       
    <%- include("partials/footer") %>